# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/es
/docs-dist

# misc
.DS_Store
/coverage

# umi
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.env.local
src/.umi/.cache

# ide
/.vscode
/.idea

# test
/src/*/__snapshots__
dist/css/main.css
dist/esm/index.d.ts
dist/esm/index.js
dist/esm/settings.json
dist/esm/Button/ButtonGroup.d.ts
dist/esm/Button/ButtonGroup.js
dist/esm/Button/index.d.ts
dist/esm/Button/index.js
dist/esm/Button/SizeContext.d.ts
dist/esm/Button/SizeContext.js
dist/esm/Button/hooks/useSize.d.ts
dist/esm/Button/hooks/useSize.js
dist/esm/Button/style/index.less
dist/esm/Button/style/mixin.less
dist/esm/Card/Card.d.ts
dist/esm/Card/Card.js
dist/esm/Card/CardHeader.d.ts
dist/esm/Card/CardHeader.js
dist/esm/Card/index.d.ts
dist/esm/Card/index.js
dist/esm/Card/style/index.less
dist/esm/Checkbox/Checkbox.d.ts
dist/esm/Checkbox/Checkbox.js
dist/esm/Checkbox/Group.d.ts
dist/esm/Checkbox/Group.js
dist/esm/Checkbox/GroupContext.d.ts
dist/esm/Checkbox/GroupContext.js
dist/esm/Checkbox/index.d.ts
dist/esm/Checkbox/index.js
dist/esm/Checkbox/style/index.less
dist/esm/Checkbox/style/mixin.less
dist/esm/Dialog/index.d.ts
dist/esm/Dialog/index.js
dist/esm/Dialog/interface.d.ts
dist/esm/Dialog/interface.js
dist/esm/Dialog/Dialog/CloseButton.d.ts
dist/esm/Dialog/Dialog/CloseButton.js
dist/esm/Dialog/Dialog/Content.d.ts
dist/esm/Dialog/Dialog/Content.js
dist/esm/Dialog/Dialog/Footer.d.ts
dist/esm/Dialog/Dialog/Footer.js
dist/esm/Dialog/Dialog/Header.d.ts
dist/esm/Dialog/Dialog/Header.js
dist/esm/Dialog/Dialog/index.d.ts
dist/esm/Dialog/Dialog/index.js
dist/esm/Dialog/Dialog/Mask.d.ts
dist/esm/Dialog/Dialog/Mask.js
dist/esm/Dialog/Dialog/Wrap.d.ts
dist/esm/Dialog/Dialog/Wrap.js
dist/esm/Dialog/style/index.less
dist/esm/Divider/index.d.ts
dist/esm/Divider/index.js
dist/esm/Divider/style/index.less
dist/esm/Form/FieldContext.d.ts
dist/esm/Form/FieldContext.js
dist/esm/Form/Form.d.ts
dist/esm/Form/Form.js
dist/esm/Form/FormContext.d.ts
dist/esm/Form/FormContext.js
dist/esm/Form/FormItem.d.ts
dist/esm/Form/FormItem.js
dist/esm/Form/index.d.ts
dist/esm/Form/index.js
dist/esm/Form/interface.d.ts
dist/esm/Form/interface.js
dist/esm/Form/hooks/useForm.d.ts
dist/esm/Form/hooks/useForm.js
dist/esm/Form/style/index.less
dist/esm/Form/utils/form.d.ts
dist/esm/Form/utils/form.js
dist/esm/Grid/Col.d.ts
dist/esm/Grid/Col.js
dist/esm/Grid/index.d.ts
dist/esm/Grid/index.js
dist/esm/Grid/Row.d.ts
dist/esm/Grid/Row.js
dist/esm/Grid/RowContext.d.ts
dist/esm/Grid/RowContext.js
dist/esm/Grid/hooks/useRowState.d.ts
dist/esm/Grid/hooks/useRowState.js
dist/esm/Grid/style/index.less
dist/esm/Grid/style/mixin.less
dist/esm/Input/index.d.ts
dist/esm/Input/index.js
dist/esm/Input/Input.d.ts
dist/esm/Input/Input.js
dist/esm/Input/style/index.less
dist/esm/Input/style/mixins.less
dist/esm/Popup/constant.d.ts
dist/esm/Popup/constant.js
dist/esm/Popup/index.d.ts
dist/esm/Popup/index.js
dist/esm/Popup/interface.d.ts
dist/esm/Popup/interface.js
dist/esm/Popup/Overlay.d.ts
dist/esm/Popup/Overlay.js
dist/esm/Popup/utils.d.ts
dist/esm/Popup/utils.js
dist/esm/Popup/hooks/usePosition.d.ts
dist/esm/Popup/hooks/usePosition.js
dist/esm/Popup/hooks/useTriggerRef.d.ts
dist/esm/Popup/hooks/useTriggerRef.js
dist/esm/Popup/style/index.less
dist/esm/Space/index.d.ts
dist/esm/Space/index.js
dist/esm/Space/Item.d.ts
dist/esm/Space/Item.js
dist/esm/Space/Space.d.ts
dist/esm/Space/Space.js
dist/esm/Space/style/index.less
dist/esm/Space/utils/index.d.ts
dist/esm/Space/utils/index.js
dist/esm/Switch/index.d.ts
dist/esm/Switch/index.js
dist/esm/Switch/style/index.less
dist/esm/Switch/style/mixins.less
dist/esm/Tag/index.d.ts
dist/esm/Tag/index.js
dist/esm/Tag/Tag.d.ts
dist/esm/Tag/Tag.js
dist/esm/Tag/style/index.less
dist/esm/Tooltip/index.d.ts
dist/esm/Tooltip/index.js
dist/esm/Tooltip/Tooltip.d.ts
dist/esm/Tooltip/Tooltip.js
dist/esm/Tooltip/style/index.less
dist/esm/_utils/global.d.ts
dist/esm/_utils/global.js
dist/esm/_utils/identity.d.ts
dist/esm/_utils/identity.js
dist/esm/_utils/Motion.d.ts
dist/esm/_utils/Motion.js
dist/esm/_utils/Portal.d.ts
dist/esm/_utils/Portal.js
dist/esm/_utils/responsive.d.ts
dist/esm/_utils/responsive.js
dist/esm/_utils/size.d.ts
dist/esm/_utils/size.js
dist/esm/_utils/type.d.ts
dist/esm/_utils/type.js
dist/esm/_utils/useForceUpate.d.ts
dist/esm/_utils/useForceUpate.js
dist/esm/_utils/useMountCall.d.ts
dist/esm/_utils/useMountCall.js
dist/esm/constant/dialog.d.ts
dist/esm/constant/dialog.js
dist/esm/style/color/colorPalette.less
dist/esm/style/color/colors.less
dist/esm/style/mixins/index.less
dist/esm/style/mixins/reset.less
dist/esm/style/plugins/bezierEasing.js
dist/esm/style/plugins/colorPalette.js
dist/esm/style/plugins/index.js
dist/esm/style/themes/default.less
dist/esm/style/themes/index.less
dist/esm/style/themes/transition.less
dist/esm/style/themes/variable.less
