@plugin '../plugins/index.js';

@import '../color/colors.less';

@theme: variable;

@outline-fade: 20%;

// -------- Colors -----------
// >>> Primary
@primary-color: @blue-6;
@primary-color-hover: @blue-5;
@primary-color-active: @blue-7;
@primary-color-outline: fade(@base-primary, @outline-fade);

@processing-color: @blue-6;


// Grid system
@grid-columns: 24;

// Media queries breakpoints
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;