@plugin '../plugins/index.js';

@import '../color/colors.less';

@theme: variable;

@outline-fade: 20%;

// -------- Colors -----------
// >>> Primary
@primary-color: @blue-6;
@primary-color-hover: @blue-5;
@primary-color-active: @blue-7;
@primary-color-outline: fade(@base-primary, @outline-fade);

@processing-color: @blue-6;


// Grid system
@grid-columns: 24;