@import '../../style/mixins/index.less';

.switch() {
  box-sizing: border-box;
  display: inline-block;
  border-radius: @switch-boarder-radius;
  border: @switch-border;
  position: relative;
  cursor: pointer;
  background-color: @switch-bg;
  transition: @switch-transition;
  width: @switch-width;
  height: @switch-height;

  &&-disabled {
    background-color: @switch-disabled-bg;
    &:hover {
      background-color: @switch-disabled-bg;
    }
  }
  &-checked&-disabled {
    background-color: @switch-checked-disabled-bg;
    &:hover {
      background-color: @switch-checked-disabled-bg;
    }
  }

  &:hover {
    background-color: @switch-hover-bg;
  }

  &:active {
    border: @switch-border;
  }

  &-focus {
    outline: @switch-focus-outline;
  }

  &-active {
    background-color: @switch-active-bg;
  }

  // checked
  &-checked {
    background-color: @switch-checked-bg;
    &:hover {
      background-color: @switch-checked-hover-bg;
    }
  }


  // knob
  & &-knob {
    box-shadow: @switch-knob-box-shadow;
    cursor: pointer;
    border-radius: @switch-knob-border-radius;
    background-color: @switch-knob-bg;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: auto;
    transition: width .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out, width .2s ease-in-out;
    transition: transform .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
    width: @switch-knob-size;
    height: @switch-knob-size;
    top: 2px;
    transform: translateX(@spacing-switch_knob-padding);
  }

  &:active &-knob {
    width: @switch-knob-size + @switch-knob-expand-size;
  }
  // checked knob
  &&-checked &-knob {
    transform: translateX(@switch-width - @switch-knob-size - @switch-border-size - @spacing-switch_knob-padding); // 18px = 40
  }
  &&-checked:active &-knob {
    transform: translateX(@switch-width - @switch-knob-expand-size - @switch-knob-size - @switch-border-size - @spacing-switch_knob-padding);
  }

  &-native-control {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: inherit;
    pointer-events: auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;

    &[type=checkbox] {
      width: inherit;
      height: inherit
    }
  }


  &-checked-text,
  &-unchecked-text {
    position: absolute;
    font-size: 12px;
    height: 100%;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  & &-checked-text {
    color: @switch-text-color;
  }

  & &-unchecked-text {
    color: @switch-unchecked-text-color;
    right: 0
  }

}