@import '../../style/themes/index.less';
// @import '../../style/mixins/reset.less';

@divider-cls: ~'@{prefix}-divider';

.@{divider-cls} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  border-top: 1px solid @divider-color;
  &-horizontal {
    min-width: 100%;
    position:relative;
    margin-top: 1.5715em;
    .text {
      transform: translate(0, -50%);
      display: inline-block;
      margin-left: 20px;
      padding: 0 1em;
      background: v
    }
  }
}