@import '../../style/themes/index.less';

@menuPrefix: ~'@{prefix}-menu';
@popupPrefix: ~'@{prefix}-popup';

.@{menuPrefix} {
  box-shadow: @menu-boxshadow;

  &,
  &-submenu-list {
    padding: 0;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  // vertical icon
  &-submenu&-submenu-vertical &-icon-arrow::before,
  &-submenu&-submenu-vertical&-submenu-open &-icon-arrow::before {
    border-color: transparent transparent transparent @menu-icon-color;
    transform: none;
  }

  &-item,
  &-submenu &-submenu-title,
  &-group {
    position: relative;
    display: block;
    margin: 0;
    padding: @menu-item-padding;
    color: @text-color;
    white-space: nowrap;
    cursor: @menu-item-cursor;
  }
  // menu group
  &-group {
    padding: @menu-group-padding;
    color: @menu-group-color;
    font-size: @menu-group-font-size;
    cursor: @menu-group-cursor;
  }

  &-item,
  &-submenu-title {
    &:hover,
    &-focus,
    &-active,
    &-selected {
      background-color: @menu-active-background;
    }
    &-disabled {
      color: @menu-disabled-color;
      cursor: not-allowed;
    }
  }

  &-expand-icon-container {
    float: right;
    margin-left: 50px;
  }

  // icon
  &-icon-arrow::before {
    display: inline-block;
    width: 0;
    height: 0;
    border: @menu-icon-width solid @menu-icon-color;
    border-color: transparent transparent transparent @menu-icon-color;
    transition: transform 0.2s;
    content: '';
  }

  &-submenu-open > &-submenu-title &-icon-arrow::before {
    transform: rotate(90deg) translate(0, 20%);
  }

  // horizontal alignment
  &-horizontal {
    padding: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }

  &-horizontal &-item,
  &-horizontal &-submenu {
    display: inline-block;
  }
}

.@{popupPrefix} .@{menuPrefix}-submenu-list {
  box-shadow: @menu-boxshadow;
}
